@model Motorista

    <div class="form-group">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="Caminhao.Marca"></label>
        <input asp-for="Caminhao.Marca" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Caminhao.Modelo"></label>
        <input asp-for="Caminhao.Modelo" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="Caminhao.Placa"></label>
        <input asp-for="Caminhao.Placa" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="Caminhao.Eixos"></label>
        <input asp-for="Caminhao.Eixos" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="Endereco.Bairro"></label>
        <input asp-for="Endereco.Bairro" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="Endereco.Cep"></label>
        <input asp-for="Endereco.Cep" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="Endereco.Cidade"></label>
        <input asp-for="Endereco.Cidade" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="Endereco.Logradouro"></label>
        <input asp-for="Endereco.Logradouro" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="Endereco.Numero"></label>
        <input asp-for="Endereco.Numero" class="form-control"/>
    </div>

